@import "../mixins-example.scss";

body h1 {
  //   @include small-screen {
  font-size: 12px;
  color: green;
  //   }

  @include medium-screen {
    font-size: 22px;
    color: red;
  }

  @include large-screen {
    font-size: 30px;
    color: blue;
  }
}

.newContainer {
  color: rgb(10, 15, 50);
  background-color: lighten(rgba(0, 0, 0, 0.322), 40%);
  border-bottom: 3px solid opacify(#000000, 0.2);
}

// define a background color and directly what should happen when hovering over it
.button {
  background-color: greenyellow;
  &:hover {
    background-color: yellow;
  }
}
