@import "../mixins-example.scss";

// declare variables
$text-color: #222222;

// assign variable to another variable
$second-color: $text-color;

.warningMessage {
  @include warning;
}

.body {
  background-color: #eee;
  color: $text-color;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;

  // Selectors can be stacked
  p {
    color: #008;
  }
}
